@import "./icons";
@import "./modal";
@import "./forms";

body {
  background-color: #f9f9f9;
}
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  padding: 50px 16px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 992px) {
    max-width: 892px;
  }

  @media (min-width: 1200px) {
    max-width: 1180px;
  }

  @media (min-width: 1900px) {
    max-width: 1600px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.align-self-center {
  align-self: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.tw-bold {
  font-weight: 600;
}

.spinner-loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #6e52ff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}