.search-wrapper {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
  }

  input {
    background-color: #f9f9f9;
    height: 30px;
    width: 273px;
    border-radius: 15px;
    padding-left: 10px;
  }
}

.checkbox {
  margin-bottom: 10px;
}

@keyframes pop {
  0% { opacity:0; }
  75% {opacity:1; }
  100% { transform: scale(1.2); }
}

.checkbox-pop {
  display:none;
}

.checkbox-pop + label span {
  display:inline-block;
  width:25px;
  height:19px;
  margin: 0 5px -4px 0; /*layout relationship between check and label*/
  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: 2px solid #6e52ff; 
  }
  &:after {
    z-index: 0;
    border: none;
  }
}

.checkbox-pop:checked + label span {
  &:before {
    animation: pop .3s ease;
    z-index: 100;
    background: #6e52ff;
  } 
}

.radio-color {
  accent-color: #6e52ff;
}